{% extends "base.html" %}


{% block title %}Frames | {% endblock %}


{% block content %}
<v-container>
  <v-row>
    <v-col cols="12" md="8">
      <h2 class="text-h2 d-inline-block mr-3">Frames |</h2>
      <h4 class="text-h4 d-inline-block">Select the frames you like</h4>
    </v-col>
    <v-col cols="12" md="4">
      <v-select
          outlined
          :items="orderItems"
          label="Order by"
          @change="updateOrdering"
          v-model="order"
      ></v-select>
    </v-col>
  </v-row>

  <v-row class="mt-6">
    <v-col cols="12" sm="6" md="4" lg="3" v-for="frame in frames">
      <v-card>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="12">
              <v-dialog width="90vw">
                <template v-slot:activator="{ on, attrs }">
                  <v-img :src="frame.url" v-on="on" v-bind="attrs"></v-img>
                </template>
                <v-card max-width="90vw">
                  <v-img :src="frame.url" contain max-height="100%"></v-img>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col cols="12" lg="6">
              <div class="d-flex align-center">
                <v-btn icon color="red" @click="toggleLike(frame)" x-large>
                  <v-icon>[[ frame.liked ? 'mdi-heart' : 'mdi-heart-outline' ]]</v-icon>
                </v-btn>
                <span class="text-h5 my-auto">[[ frame.likes|localeString ]]</span>
              </div>
            </v-col>
            <v-col cols="12" lg="6">
              <div class="d-flex align-center">
                <v-btn icon color="orange" @click="toggleVote(frame)" x-large>
                  <v-icon>[[ frame.voted ? 'mdi-star' : 'mdi-star-outline' ]]</v-icon>
                </v-btn>
                <span class="text-h5">[[ frame.premiumVotes|localeString ]]</span>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>

  <v-pagination
      v-model="page"
      :length="pageCount"
      :total-visible="10"
      class="my-2"
      @input="changePage"
  ></v-pagination>

</v-container>
{% endblock %}


{% block data %}
  frames: [
    {% for frame in object_list %}
    {
      id: {{ frame.id }},
      url: '{{ frame.image.url }}',
      sku: '{{ frame.sku }}',
      variation: '{{ frame.variation|stringformat:"02d" }}',
      likes: {{ frame.likes.count }},
      liked: {% if frame in liked_frames %}true{% else %}false{% endif %},
      premiumVotes: {{ frame.premium_votes.count }},
      voted: {% if frame in voted_frames %}true{% else %}false{% endif %},
      likedFrames: "{{ liked_frames }}",
      frame: "{{ frame }}"
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  page: {{ page_obj.number }},
  pageCount: {{ paginator.num_pages }},
  orderItems: [
    {text: "Default", value: null},
    {text: "Likes", value: "-likes"},
    {text: "Likes (ascending)", value: "likes"},
    {text: "Premium votes", value: "-premium_votes"},
    {text: "Premium votes (ascending)", value: "premium_votes"}
  ],
  order: {% if request.GET.order %}"{{ request.GET.order }}"{% else %}null{% endif %},
{% endblock %}


{% block methods %}
{
  toggleLike(obj) {
    this.$http.post("{% url "frames:frame_like" %}", {"frames_id": obj.id})
      .then(r => r.json())
      .then(r => {
        console.log(r)
        this.$snotify.success(r["status"], "Success")
        if(r["status"] == "Frames added to likes") {
          obj.liked = true
          obj.likes++
        } else {
          obj.liked = false
          obj.likes--
        }
      })
      .catch(err => {
        console.log(err)
        err = err.json()
        this.$snotify.error(err["status"], "Error")
      })
  },
  toggleVote(obj) {
    this.$http.post("{% url "frames:frame_vote" %}", {"frames_id": obj.id})
      .then(r => r.json())
      .then(r => {
        console.log(r)
        this.$snotify.success(r["status"], "Success")
        if(r["status"] == "Frames added to premium votes") {
          obj.voted = true
          obj.premiumVotes++
        } else {
          obj.voted = false
          obj.premiumVotes--
        }
      })
      .catch(err => {
        console.log(err)
        err = err.json()
        this.$snotify.error(err["status"], "Error")
      })
  },
  changePage(newPage) {
    let params = new URLSearchParams(window.location.search)
    params.set('page', newPage)
    window.location = '{% url "frames:frame_list" %}?' + params.toString()
  },
  updateOrdering(selected) {
    if (selected) {
      window.location = `{% url "frames:frame_list" %}?order=${selected}`
    } else {
      window.location = "{% url "frames:frame_list" %}"
    }
  }
}
{% endblock %}


{% block filters %}
{
  localeString: function (value) {
    return value.toLocaleString("en-US");
  }
}
{% endblock %}