{% extends "base.html" %}


{% block title %}Account Inactive | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="400" color="grey lighten-5">
      <v-card-title class="text-h5">Account inactive</v-card-title>
      <v-card-text class="text-body-1">
        <p>This account is inactive.</p>
      </v-card-text>
    </v-card>
  </v-container>
{% endblock %}