{% extends "base.html" %}
{% load account %}


{% block title %}Confirm Email Address | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="600" color="grey lighten-5">
      <v-card-title class="text-h5">Confirm email address</v-card-title>
      {% if confirmation %}
        <v-form method="post" actions="{% url "account_confirm_email" confirmation.key %}">
          <v-card-text class="text-body-1">
            {% user_display confirmation.email_address.user as user_display %}
            <p>Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an email address for user {{ user_display }}.</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                type="submit"
                color="info"
            >
              Confirm
            </v-btn>
          </v-card-actions>
        </v-form>
      {% else %}
        <v-card-text class="text-body-1">
          <p>This email confirmation link expired or is invalid. Please <a href="{% url "account_email" %}">issue a new e-mail confirmation request</a>.</p>
        </v-card-text>
      {% endif %}
    </v-card>
  </v-container>
{% endblock %}
