{% extends "base.html" %}


{% block title %}Email addresses | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto mb-3" max-width="600" color="grey lighten-5">
    <v-card-title class="text-h5">Email addresses</v-card-title>
    {% if user.emailaddress_set.all %}
      <v-form method="post" action="{% url "account_email" %}">
        <v-card-text class="text-body-1">
          <p v-show="!removeCheck">The following email addresses are associated with your account:</p>
          {% csrf_token %}
          <v-radio-group v-model="radioGroup" v-show="!removeCheck">
            {% for emailaddress in user.emailaddress_set.all %}
              <v-radio
                  name="email"
                  value="{{ emailaddress.email }}"
              >
                <template v-slot:label>
                  {{ emailaddress.email }}
                  {% if emailaddress.verified %}
                    <v-chip small class="ml-2" outlined color="success">Verified</v-chip>
                  {% else %}
                    <v-chip small class="ml-2" outlined color="error">Unverified</v-chip>{% endif %}
                  {% if emailaddress.primary %}
                    <v-chip small class="ml-2" outlined color="primary">Primary</v-chip>{% endif %}
                </template>
              </v-radio>
            {% endfor %}
          </v-radio-group>
          <v-alert type="warning" v-show="removeCheck" class="font-weight-bold">Are you sure? This will delete [[ radioGroup ]] from your account</v-alert>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text type="submit" name="action_primary" color="primary" v-show="!removeCheck">Make Primary</v-btn>
          <v-btn text type="submit" name="action_send" color="warning" v-show="!removeCheck">Re-send Verification</v-btn>
          <v-btn text color="error" @click="removeCheck = true" v-show="!removeCheck" :disabled="deleteDisabled">Remove</v-btn>
          <v-btn text @click="removeCheck = false" v-show="removeCheck">Cancel</v-btn>
          <v-btn text type="submit" name="action_remove" color="error" v-show="removeCheck">Yes, remove</v-btn>
        </v-card-actions>
      </v-form>
    {% else %}
      <p class="font-weight-bold">You currently do not have any email address set up. You should really add an email address so you can receive notifications, reset your password, etc.</p>
    {% endif %}
  </v-card>

  <v-card class="mx-auto" max-width="600">
    <v-card-title class="text-h5">Add email address</v-card-title>
    <v-form method="post" action="{% url "account_email" %}">
      {% csrf_token %}
      <v-card-text class="text-body-1">
        <v-text-field
            outlined
            label="Email"
            name="email"
            :error-messages="errors.email?.map(i => i.message) : []"
        ></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            type="submit"
            color="info"
            name="action_add"
        >
          Add email
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</v-container>
{% endblock %}


{% block data %}
  radioGroup: {% for emailaddress in user.emailaddress_set.all %}{% if emailaddress.primary or user.emailaddress_set.count == 1 %}'{{ emailaddress.email }}'{% endif %}{% endfor %},
  removeCheck: false,
  deleteDisabled: {% if user.emailaddress_set.count == 1 %}true{% else %}false{% endif %},
  errors: {{ form.errors.as_json|safe|default:'[]' }}
{% endblock %}