{% extends "base.html" %}
{% load allauth account %}


{% block title %}
    Login |
{% endblock title %}


{% block content %}
<v-container>

  <v-card class="mx-auto mt-12" max-width="600" color="grey lighten-5">
    <v-card-title class="text-h5">Login</v-card-title>
    <v-form method="post" action="{{ login_url }}">
      {% csrf_token %}
      {% url 'account_login' as login_url %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <v-card-text class="text-body-1">
        <v-alert type="error" v-if="!!errors.__all__">[[ errors.__all__[0].message ]]</v-alert>
        <v-text-field
            outlined
            name="login"
            label="Username"
            :error-messages="errors.login?.map(i => i.message)"
        ></v-text-field>
        <v-text-field
            outlined
            name="password"
            label="Password"
            type="password"
            :error-messages="errors.password?.map(i => i.message)"
        ></v-text-field>
      </v-card-text>
      <v-card-text class="text-body-1">
        <v-btn
            block
            ripple
            color="info"
            type="submit"
        >
          Sign in
        </v-btn>
        <br />
        <p class="text-center">or <a href="{{ signup_url }}" class="no-decoration">create an account</a></p>
      </v-card-text>
    </v-form>
  </v-card>

</v-container>
{% endblock content %}


{% block data %}
  errors: {{ form.errors.as_json|safe|default:'[]' }}
{% endblock %}