{% extends "base.html" %}


{% block title %}
    Log out | 
{% endblock title %}


{% block content %}
<v-container>

  <v-card class="mx-auto mt-12" max-width="600" color="grey lighten-5">
    <v-card-title class="text-h5">Sign in</v-card-title>
    {% url "account_logout" as action_url %}
    <v-form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <v-card-text class="text-body-1">
        <p>Are you sure you want to log out?</p>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="secondary"
            @click="goBack"
        >
          Go Back
        </v-btn>
        <v-btn
            color="error"
            type="submit"
        >
          Log Out
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</v-container>
{% endblock content %}


{% block methods %}
{
  goBack() {
    window.history.back()
  }
}
{% endblock %}