{% extends "base.html" %}
{% load account %}


{% block title %}Password Reset | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="600" color="grey lighten-5">
      <v-card-title class="text-h5">Password reset</v-card-title>
      <v-form method="post" action="{% url "account_reset_password" %}">
        {% csrf_token %}
        <v-card-text class="text-body-1">
          {% if user.is_authenticated %}
            <v-alert type="info"><strong>You are already logged in as {{ user.username }}</strong></v-alert>
          {% endif %}
          <v-alert type="error" v-if="errors.__all__" icon="mdi-alert">{{ form.errors }}</v-alert>
          <p>Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
          <v-text-field
              outlined
              label="Email"
              name="email"
              :error-messages="errors.email?.map(i => i.message) : []"
          >
            <template v-slot:message="{ message, key }">
              <span v-html="message"></span>
            </template>
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="info"
              type="submit"
          >
            Reset my password
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
{% endblock %}


{% block data %}
  errors: {{ form.errors.as_json|safe|default:'[]' }}
{% endblock %}