{% extends "base.html" %}


{% block title %}Change password | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="400" color="grey lighten-5">
      <v-card-title class="text-h5">Change password</v-card-title>
      <v-form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <v-card-text class="text-body-1">
          <v-row>
            <v-col cols="12">
              <v-text-field
                  outlined
                  label="Current password"
                  name="oldpassword"
                  :type="showOldPassword ? 'text' : 'password'"
                  :error-messages="errors.oldpassword?.map(i => i.message) : []"
                  :rules="[rules.required]"
                  :append-icon="showOldPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showOldPassword = !showOldPassword"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                  outlined
                  label="New password"
                  name="password1"
                  v-model="password1"
                  :type="showPassword1 ? 'text' : 'password'"
                  :error-messages="errors.password1?.map(i => i.message) : []"
                  :rules="[rules.required, rules.min, rules.alphanumeric]"
                  :append-icon="showPassword1 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword1 = !showPassword1"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                  outlined
                  label="Confirm new password"
                  name="password2"
                  v-model="password2"
                  :type="showPassword2 ? 'text' : 'password'"
                  :error-messages="errors.password2?.map(i => i.message) : []"
                  :rules="[rules.required, passwordsMatch]"
                  :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword2 = !showPassword2"
              ></v-text-field>
              <p>
              <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
              </ul>
              </p>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              label="Change password"
              color="info"
              type="submit"
          >
            Change password
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
{% endblock %}


{% block data %}
  errors: {{ form.errors.as_json|safe|default:'[]' }},
  rules: {
    required: v => !!v || 'Required',
    min: v => v.length >= 8 || 'Min 8 characters',
    max: v => v.length <= 150 || 'Max 150 characters',
    alphanumeric: v => isNaN(v) || 'Cannot be entirely numeric'
  },
  password1: '',
  password2: '',
  showOldPassword: false,
  showPassword1: false,
  showPassword2: false
{% endblock %}


{% block computed %}
  {
    passwordsMatch() {
      return this.password1 == this.password2 || 'Passwords do not match'
    }
  }
{% endblock %}