{% extends "base.html" %}


{% block title %}Change Password | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="400" color="grey lighten-5">
      <v-card-title class="text-h5">Change password</v-card-title>
      <v-card-text class="text-body-1">
        <p>Your password is now changed.</p>
      </v-card-text>
    </v-card>
  </v-container>
{% endblock %}