{% extends "base.html" %}
{% load account %}

{% block title %}Password Reset | {% endblock %}

{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="600" color="grey lighten-5">
      <v-card-title class="text-h5">Password reset</v-card-title>
      <v-card-text class="text-body-1">
        {% if user.is_authenticated %}
          <v-alert type="info"><strong>You are already logged in as {{ user.username }}</strong></v-alert>
        {% endif %}
        <p>We have sent you an email. Please contact us if you do not receive it within a few minutes.</p>
      </v-card-text>
    </v-card>
  </v-container>
{% endblock %}
