{% extends "base.html" %}


{% block title %}Change Password | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="600" color="grey lighten-5">
      <v-card-title class="text-h5">{% if token_fail %}Bad token{% else %}Change password{% endif %}</v-card-title>
      <v-card-text class="text-body-1">
        {% if token_fail %}
          <p>The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
        {% else %}
          {% if form %}
            <form method="post" action="{{ action_url }}">
              <v-row>
                {% csrf_token %}
                <v-col cols="12">
                  <v-text-field
                      outlined
                      label="New password"
                      name="password1"
                      v-model="password1"
                      :type="showPassword1 ? 'text' : 'password'"
                      :error-messages="errors.password1?.map(i => i.message) : []"
                      :rules="[rules.required, rules.min, rules.alphanumeric]"
                      :append-icon="showPassword1 ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="showPassword1 = !showPassword1"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                      outlined
                      label="Confirm new password"
                      name="password2"
                      v-model="password2"
                      :type="showPassword2 ? 'text' : 'password'"
                      :error-messages="errors.password2?.map(i => i.message) : []"
                      :rules="[rules.required, passwordsMatch]"
                      :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="showPassword2 = !showPassword2"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-btn
                      color="info"
                      type="submit"
                  >
                    Change password
                  </v-btn>
                </v-col>
              </v-row>
            </form>
          {% endif %}
        {% endif %}
      </v-card-text>
    </v-card>
  </v-container>
{% endblock %}


{% block data %}
  errors: {{ form.errors.as_json|safe|default:'[]' }},
  rules: {
    required: v => !!v || 'Required',
    min: v => v.length >= 8 || 'Min 8 characters',
    alphanumeric: v => isNaN(v) || 'Cannot be entirely numeric'
  },
  password1: '',
  password2: '',
  showPassword1: false,
  showPassword2: false
{% endblock %}


{% block computed %}
  {
    passwordsMatch() {
      return this.password == this.password2 || 'Passwords do not match'
    },
  }
{% endblock %}