{% extends "base.html" %}


{% block title %}Set Password | {% endblock %}


{% block content %}
  <v-container>
    <v-card class="mx-auto" max-width="400" color="grey lighten-5">
      <v-card-title class="text-h5">Set password</v-card-title>
      <v-form method="post" action="{% url "account_set_password" %}">
        {% csrf_token %}
        <v-card-text class="text-body-1">
          <v-text-field
              outlined
              label="New password"
              name="password1"
              v-model="password1"
              :type="showPassword1 ? 'text' : 'password'"
              :error-messages="errors.password1?.map(i => i.message) : []"
              :rules="[rules.required, rules.min, rules.alphanumeric]"
              :append-icon="showPassword1 ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword1 = !showPassword1"
          ></v-text-field>
          <v-text-field
              outlined
              label="Confirm new password"
              name="password2"
              v-model="password2"
              :type="showPassword2 ? 'text' : 'password'"
              :error-messages="errors.password2?.map(i => i.message) : []"
              :rules="[rules.required, passwordsMatch]"
              :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword2 = !showPassword2"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              type="submit"
              color="info"
              name="action"
          >
            Set password
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
{% endblock %}


{% block data %}
  errors: {{ form.errors.as_json|safe|default:'[]' }},
  rules: {
    required: v => !!v || 'Required',
    min: v => v.length >= 8 || 'Min 8 characters',
    alphanumeric: v => isNaN(v) || 'Cannot be entirely numeric'
  },
  password1: '',
  password2: '',
  showPassword1: false,
  showPassword2: false
{% endblock %}


{% block computed %}
  {
    passwordsMatch() {
      return this.password1 == this.password2 || 'Passwords do not match'
    }
  }
{% endblock %}