{% extends "base.html" %}


{% block title %}
  Sign up |
{% endblock %}


{% block content %}
<v-container>

  <v-card class="mx-auto mt-12" max-width="600" color="grey lighten-5">
    <v-card-title class="text-h5">Sign up</v-card-title>
    {% url "account_signup" as action_url %}
    <v-form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <v-card-text class="text-body-1">
        <p>Already have an account? <a href="{% url "account_login" %}">Log in</a> instead.</p>
        <v-text-field
            outlined
            name="username"
            label="Username"
            :error-messages="errors.username?.map(i => i.message)"
        ></v-text-field>
        <v-text-field
            outlined
            name="email"
            label="Email (optional)"
            :error-messages="errors.email?.map(i => i.message)"
        ></v-text-field>
        <v-text-field
            outlined
            name="password1"
            label="Password"
            type="password"
            :error-messages="errors.password1?.map(i => i.message)"
        ></v-text-field>
        <v-text-field
            outlined
            name="password2"
            label="Password (again)"
            type="password"
            :error-messages="errors.password2?.map(i => i.message)"
        ></v-text-field>
        <ul>
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
        </ul>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="info"
            type="submit"
        >
          Create account
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</v-container>
{% endblock content %}


{% block data %}
  errors: {{ form.errors.as_json|safe|default:'[]' }}
{% endblock %}