{% extends "base.html" %}


{% block title %}Sign up closed | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto mt-12" max-width="600" color="grey lighten-5">
    <v-card-title class="text-h5">Sign up closed</v-card-title>
    <v-card-text class="text-body-1">
      <p>We are sorry, but the sign up is currently closed.</p>
    </v-card-text>
  </v-card>
</v-container>
{% endblock content %}
