{% extends "base.html" %}


{% block title %}Verify Your Email Address | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto" mx-width="600" color="grey lighten-5">
    <v-card-title class="text-h5">Verify your email address</v-card-title>
    <v-card-text class="text-body-1">
      <p>We have send an email to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
    </v-card-text>
  </v-card>
</v-container>
{% endblock content %}
