[v-cloak] > * {
    display: none;
}
#app {
    background: #F4EDDA;
}
.v-toolbar__title {
    line-height: 1;
}
.rotate {
    animation: rotation 6s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}