{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock title %}Phlossin Eyewear</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-snotify@3.2.1/styles/material.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'img/icon-color.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/icon-color.ico' %}" type="image/x-icon">
  {% block additional_css %}{% endblock %}
  {% block meta %}{% endblock %}
</head>
<body>
  <v-app id="app" v-cloak>
    {% include "navbar.html" %}
    {% include "sidebar.html" %}

    <v-main>
      {% block content %}{% endblock %}
      <vue-snotify></vue-snotify>
    </v-main>

    {% include "footer.html" %}
  </v-app>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1/dist/vue-resource.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-snotify@3/vue-snotify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  {% block additional_vue_scripts %}{% endblock %}

  <script>
    const None = null;
    const False = false;
    const True = true;
    const csrf_token = Cookies.get('csrftoken');
    {% block vue_use %}{% endblock %}
    Vue.http.interceptors.push((request, next) => {
      request.headers.set("X-CSRFToken", csrf_token)
      next()
    })
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        sidebar: null,
        activePage: '{{ request.path }}',
        pageName: '{{ request.resolver_match.url_name }}',
        {% block data %}{% endblock %}
      },
      props: {% block props %}{}{% endblock %},
      methods: {% block methods %}{}{% endblock %},
      watch: {% block watch %}{}{% endblock %},
      computed: {% block computed %}{}{% endblock %},
      mounted() {% block mounted %}{}{% endblock %},
      created() {% block created %}{}{% endblock %},
      filters: {% block filters %}{}{% endblock %}
    });
  </script>
  {% block additional_scripts %}{% endblock %}
</body>
</html>