{% extends "base.html" %}
{% load static %}


{% block content %}
<v-container>

  <v-img class="mx-auto my-12" max-height="100vh" contain src="{% static 'img/color1_logo_transparent_background.png' %}"></v-img>
  
</v-container>
{% endblock %}