{% load static %}

<v-app-bar app dark>
  <v-app-bar-nav-icon @click="sidebar = !sidebar" class="d-md-none"></v-app-bar-nav-icon>
  <v-toolbar-title>
    <a href="/">
      <img src="{% static "img/logo-white.png" %}" height="32px" class="my-auto">
    </a>
  </v-toolbar-title>
  <v-spacer></v-spacer>
  <v-toolbar-items>
    <v-btn text href="{% url "frames:frame_list" %}">Frames</v-btn>
    {% if user.is_authenticated %}
      <v-btn text href="{% url "account_logout" %}" color="error">Log out</v-btn>
    {% else %}
      <v-btn text href="{% url "account_login" %}" color="success">Login</v-btn>
      <v-btn text href="{% url "account_signup" %}" color="info">Sign up</v-btn>
    {% endif %}
  </v-toolbar-items>
</v-app-bar>